
@import 'styles.css';

.corporate-brandings__title {
	font-size: 18px;
	font-weight: bold;
	margin: 60px 0 25px 15px;
}

.corporate-brandings-item {
	border: 1px solid #E6E6E6;
    border-radius: 5px;
	margin-top: 20px;
}

 .corporate-brandings-item__text{
	height: 75px;
	text-align: left;
	padding: 0 10px;
 }

 .corporate-brandings-item__btn {
 	padding-bottom: 10px;
 }

.btn_hover:hover {
	box-shadow: 0 0 5px #1078CF;
 	color: #1078CF;
 	background: #fff;
 }
