.glyphicon {
    color: #fff;
}

.lead {
    margin: 0;
    padding: 0;
}

.navbar {
	margin-bottom: 0;
    background: #0E68B5;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > .active > .navbar-nav__link,
.navbar-inverse .navbar-nav > .active > .navbar-nav__link:focus,
.navbar-inverse .navbar-nav > .active > .navbar-nav__link:hover {
    background: #0082d3; 
}

.navbar-nav__item:hover,
.navbar-right__item:hover {
    background: #0082d3;
}

.page-headering {
	font-size: 22px;
	font-weight: 400;
}

.page-block {
	min-width: 550px;
	min-height: 600px;
	border: 1px solid #C0C1C0;
	border-radius: 10px;
	background: #E3E4E3;
	overflow: hidden;
}

.aside {
	width: 20%;
	min-height: 600px;
	background: #E3E4E3;
	padding: 0;
}

.aside-menu {
    margin-top: 125px;
}

.aside-menu > li + li {
	margin-top: 0;
}

.aside-menu__item {
    background: #EBECEB;
    border-left: 5px solid #000;
    border-bottom: 1px solid #DBDDDB;
}

.aside-menu__item:last-child {
	border-bottom: 0;
}

.aside-menu__item_active {
	background: #FFFFFF;
    border-left: 5px solid #3B7ADB;
}

.aside-menu__link {
	color: #000;
}

.aside-menu__link:hover {
	color: #1078CF;
}

.content {
   	width: 80%;
   	min-height: 600px; 
    background: #FFFFFF;
}

.content-inside {
	margin: 60px 5%;  
}

.nt-domains__title,
.email-domains__title,
.custom-domains__title {
		font-size: 18px;
		font-weight: bold;
		margin: 60px 0 20px 0;
}
 
.nt-domains__list {
		overflow: auto;
 	 	border-bottom: 1px solid #C1C2C2; 
}

.nt-domains__list:last-child {
	  border-bottom: 0;
}

.nt-domains__item,
.email-domains__item,
.custom-domains__item {	
		margin-top: 15px;
		margin-bottom: 0;
		font-weight: bold;
		font-size: 15px;
}

.nt-domains__sub-item {
		font-size: 12px;
		font-weight: normal;
}

.nt-domains-switchers {
		margin-top: 20px;
}

.email-domains_sub-item {
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
}



.tou__title {
		font-weight: bold;
		color: #2274B1;
		padding-top: 10px;
}

.require-tou {
    margin-top: 35px;
}

.require-tou__title {
    font-weight: bold;
    margin-right: 22px; 
}

.require-tou__checkbox {
    margin-left: 22px;
}

.require-tou__title,
.require-tou__switcher,
.require-tou__checkbox {
    display: inline-block;
}

.show-tou__title {
    font-weight: bold;
    margin-right: 22px; 
}

.show-tou__checkbox {
    margin-left: 22px;
}

.show-tou {
    margin: 33px 0 55px 0;
}

.show-tou__title,
.show-tou__checkbox {
    display: inline-block;
}

.show-tou__active-toolbar {
     display: inline-block;
}

.show-tou__active-toolbar input[type="radio"] {
    display: none; 
}

.active-item {
    padding: 0 5px; 
    font-weight: normal;
}

.show-tou__active-toolbar input[type="radio"]:checked + .active-item {
    background-color: #e6eeff;
    border-radius: 20px;
}

.tou-group {
        margin-left: -12px;
}

.toug__dropdown-btn + .toug__content {
    border-top: solid 1px #ECEDEC;
    padding-top: 45px;
    margin-top: -20px;
}

.toug__dropdown-btn {
      border: none;
      font-weight: 500;
      font-size: 18px;
}

.toug__content {
        padding: 30px 0 0 9px;
}

.toug__content_link {
        margin-left: 55px;
}



















