.glyphicon {
    color: #fff;
}

.lead {
    margin: 0;
    padding: 0;
}

.navbar {
	margin-bottom: 0;
    background: #0E68B5;
    border: none;
    border-radius: 0;
}

.navbar-inverse .navbar-nav > .active > .navbar-nav__link,
.navbar-inverse .navbar-nav > .active > .navbar-nav__link:focus,
.navbar-inverse .navbar-nav > .active > .navbar-nav__link:hover {
    background: #0082d3; 
}

.navbar-nav__item:hover,
.navbar-right__item:hover {
    background: #0082d3;
}

.page-headering {
	font-size: 22px;
	font-weight: 400;
}

.page-block {
	min-width: 550px;
	min-height: 600px;
	border: 1px solid #C0C1C0;
	border-radius: 10px;
	background: #E3E4E3;
	overflow: hidden;
}

.aside {
	width: 20%;
	min-height: 600px;
	background: #E3E4E3;
	padding: 0;
}

.aside-menu {
    margin-top: 125px;
}

.aside-menu > li + li {
	margin-top: 0;
}

.aside-menu__item {
    background: #EBECEB;
    border-left: 5px solid #000;
    border-bottom: 1px solid #DBDDDB;
}

.aside-menu__item:last-child {
	border-bottom: 0;
}

.aside-menu__item_active {
	background: #FFFFFF;
    border-left: 5px solid #3B7ADB;
}

.aside-menu__link {
	color: #000;
}

.aside-menu__link:hover {
	color: #1078CF;
}

.content {
   	width: 80%;
   	min-height: 600px; 
    background: #FFFFFF;
}

.content-inside {
	margin: 0 5% 35px 5%;  
}
