
.container {
	  min-width: 522px;
}

.navbar {
    background: #1052A6;
    border: none;
    border-radius: 0;
}

.navbar-brand {
    margin-top: -4px;
}

.glyphicon {
    color: #fff;
}
	/*  С этим попробую разобраться чтобы сделать короче или переопередить */
 .navbar-inverse .navbar-nav > .active > .navbar-nav__link,
 .navbar-inverse .navbar-nav > .active > .navbar-nav__link:focus,
 .navbar-inverse .navbar-nav > .active > .navbar-nav__link:hover {
    background: #0082d3; 
}

 .navbar-nav__item:hover,
 .navbar-right__item:hover {
    background: #0082d3;
}

.lead {
    margin: 0;
    padding: 0;
}

.content-header {
		margin-bottom: 40px;
}

 .branding-item-left__head, 
 .colors__head,
 .proxy-settings__head,
 .corp-proud-provider__head {
	font-weight: bold;
	font-size: 15px;
	color: #0F73B6;
	padding-top: 7px;
}

.branding-item-left__btn {
		margin-left: 15px;
}

.branding-right {
		margin-right: 30px;
}

.branding-btn__right {
		margin-left: 5px; 
}

.hr-branding {
		margin: 10px 0 25px 0;
		color: #000;
}

 .branding__text,
 .colors__text {
		font-size: 15px;
		margin-bottom: 20px;
}

 .branding__full-color,
 .branding__white-color  {
		display: inline-block;
		margin-right: 25px;
}

.branding-logo__head {
		font-size: 14px;
		font-weight: 600;
}
.branding-logo__img {
		width: 318px;
		height: 100px; 
}

.colors {
		margin-top: 60px;
}

.hr-colors {
		margin: 0 0 30px 0;
		color: #000;
}

.colors__picker {
		width: 245px;
		height: 70px;
		cursor: pointer;
}

.colors__value {
		margin: 10px 0 50px 0;
		font-size: 16px;
		color: #A5A5A7;
}

.proxy-settings__allow-user {
		font-weight: bold;
		line-height: 1.2;
		text-align: center;
}

.hr-proxy-settings {
		margin: 10px 0 30px 0;
		color: #000;
}

.clearfix {
	  clear: both;
	  margin-bottom: 20px;
}

.proxy-settings__name-group {
		padding: 5px 0 15px 0;
}

.proxy-settings__name {
		font-size: 15px;
		padding-bottom: 20px;
}

.proxy-settings__select-group,
.proxy-settings__checkbox-group,
.form-control {
		margin-bottom: 15px;
}

input[type=checkbox] {
		margin: 15px 33px 20px 33px;
}

.hr-corp-proud-provider {
		margin: 15px 0 20px 0;
		color: #000;
}

.corp-proud-provider__padding-block {
		padding-left: 15px;
}

.corp-proud-provider__organization {
		margin: 10px 0 15px 0;
}





