<!DOCTYPE html>
<html lang="en">
<head>
    <title>Playground</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="components/domains-manager/domains-manager.css">

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

        .container {
            min-width: 737px;
        }

        .navbar {
            background: #0E68B5;
            border: none;
            border-radius: 0;
        }

        a.navbar-brand {
            margin-top: -4px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #fff;
        }

        .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
            background: #0082d3;
        }

        .navbar-inverse .navbar-nav > li:focus, .navbar-inverse .navbar-nav > li:hover {
            background: #0082d3;
        }

        .lead {
            margin: 0;
            padding: 0;
        }

        .first-button {
            margin-top: -20px;
            position: relative;
            top: 35px;
        }

        .first-button button, .second-button button {
            padding: 6px 20px 6px 10px;
        }

        .second-list {
            margin-left: 150px;
            margin-bottom: 0px;
        }

        .second-list li a {
            text-decoration: none;
        }

        .second-list li a:active {
            color: #000;
        }

        .pull-right img {
            width: 20px;
            height: 20px;
        }

        input[type="seacrh"] {
            width: 200px;
            padding: 3px 5px;
            margin-top: 4px;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        .second-button {
            margin-top: -10px;
            position: relative;
            right: 0px;
            top: 5px;
        }

        .dropdown-menu li a:hover {
            background: #0E68B5;
            color: #fff;
        }
    </style>
</head>
<body>


    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.edomain.com/">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="https://www.domain.com/notifications/#/notifications/rk/" data-toggle="tooltip"
                       data-placement="bottom" title="Notifications" class="lead">
                       <span class="glyphicon glyphicon-bell"></span></a></li>
                       <li class="active"><a
                        href="https://www.domain.com/collaborations/manage_collaborations/#!/swm/active"
                        data-toggle="tooltip" data-placement="bottom" title="Collaboration_management" class="lead">
                        <span class="glyphicon glyphicon-user"></span></a></li>
                        <li><a href="https://www.domain.com/cloudwebportal/onedrive_1/#!/" data-toggle="tooltip"
                           data-placement="bottom" title="Cloud Providers" class="lead">
                           <span class="glyphicon glyphicon-cloud"></span></a></li>
                           <li><a href="https://www.domain.com/auditing/#/history" data-toggle="tooltip"
                               data-placement="bottom" title="Auditing" class="lead">
                               <span class="glyphicon glyphicon-tasks"></span></a>
                           </li>
                       </ul>

                       <ul class="nav navbar-nav navbar-right">
                          <li>
                              <a href="https://www.edomain.com/" class="lead" data-toggle="tooltip" data-placement="bottom" title="Back to Some Domain Homepage">
                                  <span class="glyphicon glyphicon-log-out"></span></a>
                              </li>
                              <li>
                                <a href="https://www.domain.com/cloudwebportal/help/">
                                    <span class="glyphicon glyphicon-list-alt"></span> Help
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="container">
                <ul class="list-inline first-list">
                    <li>
                        <a href="#Shared With Me">
                            <h4><span style="color:#000;"> Shared With Me </span></h4>
                        </a>
                    </li>
                    <li>|</li>
                    <li>
                        <a href="#My Shares">
                            <h4><span> My Shares </span></h4>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="container">
                <div class="btn-group first-button">
                    <button type="button" class="btn btn-default disabled">Bulk actions</button>

                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" disabled>
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#"> </a></li>
                        <li><a href="#"> </a></li>
                    </ul>
                </div>

                <div>
                    <ul class="list-inline second-list">
                        <li>
                            <a href="#Active" data-toggle="tab">
                                <h5><span>Active (0)</span></h5>
                            </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="#Disabled" data-toggle="tab">
                                <h5><span>Disabled (0)</span></h5>
                            </a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="#Requasted" data-toggle="tab">
                                <h5><span>Requasted (0)</span></h5>
                            </a>
                        </li>
                        <li class="pull-right">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="seacrh" placeholder="Search by title or sender...">
                            <img src="http://by.pokupon.com/assets/ajax-loader-sm-d56c7ccb539b54852b20718bce7aff38.gif">
                        </li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="Active" class="tab-pane fade in active">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th class="text-center"><input type="checkbox"></th>
                                <th>Title</th>
                                <th>Sender</th>
                                <th>Organization</th>
                                <th>Data Shared</th>
                                <th>Expiration</th>
                                <th>Last Accessed</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center" style="padding:10px;">You have no active shares.</td>
                            </tr>
                            <tr>
                                <td style="width: 30px;">Show</td>
                                <td colspan="8"><div class="btn-group second-button dropup">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">25 Rows
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#25">25 Rows</a></li>
                                            <li><a href="#50">50 Rows</a></li>
                                            <li><a href="#100">100 Rows</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="Disabled" class="tab-pane fade">
                        <table class="table table-bordered table-striped table-hover">
                            <tr>
                                <th class="text-center"><input type="checkbox"/></th>
                                <th>Title</th>
                                <th>Sender</th>
                                <th>Organization</th>
                                <th>Data Shared</th>
                                <th>Expiration</th>
                                <th>Last Accessed</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center" style="padding:10px;">You have no disabled shares.</td>
                            </tr>
                            <tr>
                                <td style="width: 30px;">Show</td>
                                <td colspan="8">
                                    <div class="btn-group second-button dropup">
                                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">25 Rows
                                        </button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#25">25 Rows</a></li>
                                                <li><a href="#50">50 Rows</a></li>
                                                <li><a href="#100">100 Rows</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div id="Requasted" class="tab-pane fade">
                            <table class="table table-bordered table-striped table-hover">
                                <tr>
                                    <th class="text-center"><input type="checkbox"/></th>
                                    <th>Title</th>
                                    <th>Sender</th>
                                    <th>Organization</th>
                                    <th>Date Requested</th>
                                    <th>Extension Requested</th>
                                    <th>Last Accessed</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-center" style="padding:10px;">You have no requested shares.</td>
                                </tr>
                                <tr>
                                    <td style="width: 30px;">Show</td>
                                    <td colspan="8">
                                        <div class="btn-group second-button dropup">
                                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">25 Rows
                                            </button>
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#25">25 Rows</a></li>
                                                    <li><a href="#50">50 Rows</a></li>
                                                    <li><a href="#100">100 Rows</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>



    <div class="container">
        <div class="row" ng-app="testApp">
            <div class="col-md-12" ng-controller="testController" ng-cloak>
                <h2>Domain manager component</h2>

                <hr />

                <div class="domains-edit">
                    <div ng-show="!editMode">
                        <div>
                            <p class="domains-edit__p">Domains<a class="domains-edit__a" href="" ng-click="editMode = true;">Edit</a></p>
                        </div>
                        <div class="domains-edit-list">
                            <ul class="list-inline">
                                <li class="domains-edit-list__li" ng-repeat="(idx, domain) in domains">{{domain}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="domains-done">
                    <div ng-show="editMode">
                        <div>
                            <p class="domains-done__p">Domains<a class="domains-done__a1" href="" ng-click="editMode = false;">Done</a></p>
                        </div>
                        <div class="domains-done-list">
                            <ul class="list-inline">
                                <li class="domains-done-list__li pull-left" ng-repeat="(idx, domain) in domains" ng-click="remove(idx)">{{domain}} <span class="domains__span">×</span></li>   
                                <div class="pull-left">
                                    <input class="domains-done__input" type="text" placeholder="Add domain" ng-model="newDomain"/>
                                    <a class="domains-done__a2" ng-click="add()">Add</a>
                                </div>
                             </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>       

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>

                <script src="test-app.module.js"></script>

                <script>
                    $(document).ready(function() {
                        $('[data-toggle="tooltip"]').tooltip();
                    });
                </script>

            </body>
            </html>
