<!DOCTYPE html>
<html lang="en">
<head>
    <title>Terms of Use</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/css/bootstrap-switch.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <link href="css/terms-of-use.css" rel="stylesheet">
    <style<
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button"  data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.edomain.com/">
                    <img src="https://yt3.ggpht.com/-ZOY3TKelLe0/AAAAAAAAAAI/AAAAAAAAAAA/xCr6AsqApe8/s100-c-k-no/photo.jpg" style="width: 40px; height: 40px; margin-top: -10px;"></a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="navbar-nav__item">
                        <a class="navbar-nav__link lead"
                            href="https://www.domain.com/notifications/#/notifications/rk/"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Notifications">
                            <span class="glyphicon glyphicon-bell"></span></a>
                    </li>
                    <li class="navbar-nav__item active">
                        <a class="navbar-nav__link lead"
                            href="https://www.domain.com/collaborations/ manage_collaborations/#!/swm/active"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Collaboration_management">
                            <span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <li class="navbar-nav__item">
                        <a class="navbar-nav__link lead"
                            href="https://www.domain.com/cloudwebportal/onedrive_1/#!/"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Cloud Providers">
                            <span class="glyphicon glyphicon-cloud"></span></a>
                    </li>
                    <li class="navbar-nav__item">
                        <a class="navbar-nav__link lead"
                            href="https://www.domain.com/auditing/#/history"
                            data-toggle="tooltip"
                            data-placement="bottom" 
                            title="Auditing">
                            <span class="glyphicon glyphicon-tasks"></span></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right__item">
                        <a class="navbar-right__link lead"
                            href="index.html" 
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Back to Some Domain Homepage">
                            <span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
                    <li class="navbar-right__item">
                        <a class="navbar-right__link" href="https://www.domain.com/cloudwebportal/help/">
                            <span class="glyphicon glyphicon-list-alt">Help</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="page-headering">nCrypted Cloud, LLC</h1>

            <div class="row-fluid page-block">
                <div class="col-md-2 col-sm-2 col-xs-2 aside">
                    <ul class="nav nav-stacked aside-menu">
                        <li class="aside-menu__item">
                            <a class="aside-menu__link hvr-bounce-to-right" href="domains-management.html">Domains management</a>
                        </li>
                        <li class="aside-menu__item_active">
                            <a class="aside-menu__link hvr-bounce-to-right" href="terms-of-use.html">Terms of Use</a>
                        </li>
                        <li class="aside-menu__item">
                            <a class="aside-menu__link hvr-bounce-to-right" href="corporate-branding.html">Corporate Branding</a>
                        </li>
                    </ul> 
                </div>

                <div class="col-md-10 col-sm-10 col-xs-10 content">
                    <div class="content-inside">
                        <div class="terms-of-use">
                            <h2 class="tou__title">Terms of Use</h2>     
                                <div class="require-tou">
                                    <div class="require-tou__title">Require Terms of Use</div>
                                        <div class="require-tou__switcher">
                                            <input type="checkbox" class="switchers" data-off-color="danger">
                                        </div>
                                        <div class="require-tou__checkbox">
                                            <input type="checkbox" checked="checked"><span> Allow override</span>
                                        </div>
                                </div>

                                <div class="show-tou">
                                    <div class="show-tou__title">Show Terms of Use</div>
                                        <div class="show-tou__active-toolbar">   
                                            <input type="radio" id="radio1" name="radios" value="" checked>
                                            <label class="active-item" for="radio1">Only once</label>
                                            <input type="radio" id="radio2" name="radios" value="">
                                            <label class="active-item" for="radio2">Every time</label>
                                        </div>
                                        <div class="show-tou__checkbox">
                                            <input type="checkbox" checked="checked"><span> Allow override</span>
                                        </div>
                                </div>

                                <div class="tou-group">
                                    <button type="button" class="btn btn-default toug__dropdown-btn"><span>TOUGroup1</span>
                                        <span class="caret"></span>
                                    </button>
                                    <div class="toug__content">
                                        <input type="checkbox" name="" checked="checked" disabled><span> Use a default</span>
                                        <a href="#" class="toug__content_link">Add recipient domains</a>
                                    </div>
                                </div>  
                        </div>  

                        <div class="domains" ng-app="testApp">
                            <div class="domains-content" ng-controller="testController" ng-cloak>
                                <div class="domains-edit-mode">
                                    <div ng-show="!editMode">
                                        <h5 class="domains-title">Domains<a class="domains-edit-mode__switch" ng-click="editMode = true;">Edit</a></h5> 
                                            <div class="domains-edit-list">
                                                <ul class="list-inline">
                                                    <li class="domains-edit-list__item" ng-repeat="(idx, domain) in domains">{{domain}}</li>
                                                </ul>
                                            </div>
                                    </div>
                                </div>
                                <div class="domains-done-mode">
                                    <div ng-show="editMode">
                                        <h5 class="domains-title">Domains<a class="domains-done-mode__switch" ng-click="editMode = false;">Done</a></h5>
                                            <div class="domains-done-list">
                                                <ul class="list-inline">
                                                    <li class="domains-done-list__item pull-left"
                                                        ng-repeat="(idx, domain) in domains"
                                                        ng-click="remove(idx)">{{domain}} <span class="domains-done-list__close">×</span>
                                                    </li>   
                                                    <li class="domains-done-list__add-block pull-left">
                                                        <input class="domains-done-list__field"
                                                               type="text"
                                                               placeholder="Add domain"
                                                               ng-model="newDomain"/>
                                                        <button class="domains-done-list__btn btn btn-link" type="button" ng-click="add()">Add</button>
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>        
                </div>

            </div>
    </div>

    <script src="../vendor/js/jquery.min.js"></script>
    <script src="../vendor/js/bootstrap.min.js"></script>
    <script src="../vendor/js/bootstrap-switch.js"></script>
    <script src="../vendor/js/angular.js"></script>
    <script src="../vendor//js/test-app.module.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
        $(".switchers").bootstrapSwitch();
    </script>
</body>
</html>