<div class="expiration-dates-selector">

    <!-- Radio buttons to set predefined time -->
    <div class="pilled-radios">

        <input type="radio"
               name="expirationTime"
               id="pilledOption1"
               ng-model="expirationTime"
               value="-1">
        <label for="pilledOption1" class="radio-inline">First access</label>

        <input type="radio"
               name="expirationTime"
               id="pilledOption2"
               ng-model="expirationTime"
               value="86400">
        <label for="pilledOption2" class="radio-inline">One day</label>

        <input type="radio"
               name="expirationTime"
               id="pilledOption3"
               ng-model="expirationTime"
               value="604800">
        <label for="pilledOption3" class="radio-inline">One week</label>

        <input type="radio"
               name="expirationTime"
               id="pilledOption4"
               ng-model = "expirationTime"
               ng-click="showInnerSelect()"
               value="custom">
        <label for="pilledOption4"
               ng-hide="innerSelectShouldBeShowed"
               class="radio-inline">Other...</label>
    </div>


    <!-- Input and select to set custom time -->
    <div class="input-select" ng-show="innerSelectShouldBeShowed">

        <div class="input-select_input">
            <input type="text"
                   focus-if="innerSelectShouldBeShowed"
                   class="form-control input-sm"
                   ng-model="customTime.value">
        </div>

        <div class="input-select_select">
            <select class="form-control input-sm" ng-model="customTime.period">
                <option value="minutes">minutes</option>
                <option value="hours">hours</option>
                <option value="days">days</option>
                <option value="months">months</option>
            </select>
        </div>

    </div>

</div>