
.domains-edit__p, .domains-done__p {
		font-weight: bold;
}

.domains-edit__a, .domains-done__a1 {
		margin-left: 10px;
		font-weight: normal;
}

 .list-inline .domains-edit-list__li,
 .list-inline .domains-done-list__li {
		font-weight: 500;
		border: 1px solid lightgray;
		border-radius: 20px;
		margin: 10px 15px 0 0;
		padding: 0 10px; 
}

.domains-done-list__li {
		color: #5289CC;
}

.domains__span {
		color: #000;
}

.domains-done-list__li:hover {
		cursor: pointer;
		background: #EE212C;
		color: #fff;
}

.domains-done-list__li:hover .domains__span {
	  color: #fff;
}

.domains-done__input {
		padding-left: 10px;
		margin: 8px 0 0 5px;
		position: relative;
}

.domains-done__a2 {
		border: 1px solid lightgray;
		padding: 4px;
		color: #000;
		font-weight: 500;
		cursor: pointer;
}


