/* Themes */
/* line 4, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.jGrowl-notification {
  max-height: 100px;
  width: 50%;
}
/* line 7, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.jGrowl-notification div.jGrowl-header {
  font-weight: bold;
  font-size: 1.10em;
}
/* line 11, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.jGrowl-notification div.jGrowl-message {
  font-size: 0.9em;
}
/* line 15, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.smoke {
  background: #eef1f3;
  font-size: 1.4em;
  color: #003060;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 26, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.info {
  background: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
  opacity: 1.0;
  font-size: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 40, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.error {
  background-color: #c32627;
  font-size: 1.4em;
  color: #eeeeee;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 52, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.error a {
  color: #fafdff;
  text-decoration: underline;
}
/* line 57, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.warning {
  background-color: #FEEFB3;
  color: #9F6000;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 70, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
div.jGrowl div.jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 980px) {
  /* line 78, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
  div.jGrowl div.jGrowl-notification,
  div.jGrowl div.jGrowl-closer {
    min-width: 100%;
    font-size: 1em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 85, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/jgrow.less */
  div.jGrowl div.jGrowl-notification div.jGrowl-header {
    font-weight: normal;
    font-size: 1.10em;
  }
}
