/**
 * We use this to override jGrowl 'info' theme,
 * and make top-bar-style messages with icons (which we add in JS).
 *
 */
/* line 10, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl div.ncc-success {
  background-color: #75a147;
  color: #fff;
  border-color: #bce8f1;
  opacity: 1.0;
  font-size: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl div.ncc-error {
  background-color: darkred;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow: hidden;
}
/* line 36, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl div.jGrowl-notification div.jGrowl-close {
  left: 50%;
  margin-top: 3px;
  float: none;
  position: absolute;
  margin-left: 470px;
}
/* line 46, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl div.jGrowl-notification {
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  opacity: 1;
  margin: 0;
  min-height: 53px;
}
/* line 55, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
#jGrowl {
  left: 0;
}
/* line 59, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl-message {
  margin-top: 5px;
  font-size: 17px;
}
/* line 63, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
div.jGrowl-message i {
  vertical-align: middle;
  font-size: 27px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
/* line 73, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
.ncc-error .jGrowl-close {
  color: #5A0000;
}
/* line 79, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
.ncc-success .jGrowl-close {
  color: darkgreen;
}
/* line 85, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
.ncc-error .jGrowl-close {
  color: red;
}
/* line 89, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/jgrowl-override.less */
.ncc-success .jGrowl-close {
  color: green;
}
