/* We need this to use `ui-bootstrap` pagination directive.
 * Thay use old Bootstrap styles, which refer to `div.pagination>ul>li`,
 * when new syntax is `ul.pagination>li`. So we just copy bootstrap styles
 * and adopt them to point on `ul`.
*/
/* line 9, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul {
  cursor: pointer;
}
/* line 13, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
/* line 20, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > li {
  display: inline;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > li > a,
.pagination ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
/* line 36, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 49, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > li > a:hover,
.pagination ul > li > span:hover,
.pagination ul > li > a:focus,
.pagination ul > li > span:focus {
  background-color: #eeeeee;
}
/* line 56, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover,
.pagination ul > .active > a:focus,
.pagination ul > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
/* line 69, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pagination_override.less */
.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover,
.pagination ul > .disabled > span:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}
/**
 * Search input block
 * Extension of bootstrap basic input to search field
 * with icon and reset mark (conditionally hidden and shown).
 *
 */
/* line 8, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search {
  position: relative;
}
/* line 13, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search_icon i {
  position: absolute;
  padding: 11px;
  font-size: 12px;
  color: #888;
  pointer-events: none;
}
/* line 20, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search_icon .form-control {
  padding-left: 30px;
}
/* line 25, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search_active {
  background-color: #FFFCED;
}
/* line 32, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.reset-input-mark {
  background: #FFFDF2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABNSURBVHjaXI7BDcAwCAMvyQjMyQ6dAbZiKfqoUK34g2zJh1dENIC7M8pMAPYdzAVY3d0ajNz9aypS/b5R6o+ZPdqoKgCq6h80KH3xDgBqNR97p8oAGQAAAABJRU5ErkJggg==) no-repeat 9px center;
  transition: background 0.4s;
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 10px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  text-indent: -9999px;
}
/* line 46, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.reset-input-mark_hidden {
  opacity: 0;
  pointer-events: none;
}
/* line 51, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.reset-input-mark_showed {
  opacity: 1;
  pointer-events: auto;
}
/* line 56, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.reset-input-mark:hover {
  background-color: #DFEAFF;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search_large.form-control-search_icon i {
  padding: 15px;
  font-size: 18px;
}
/* line 68, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/form-control-search.less */
.form-control-search_large.form-control-search_icon .form-control {
  padding-left: 42px;
}
/**
 * Bootstrap dropdowns modifications
 *
 */
/* line 8, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown_arrowed .dropdown__wrapper {
  display: none;
}
/* line 12, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown_arrowed .dropdown-menu {
  display: block;
  text-align: left;
  margin-top: 10px;
}
/* line 21, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.open .dropdown__wrapper {
  display: block;
}
/* line 28, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown__arrow {
  left: 50%;
  margin-left: -9px;
  border-bottom-color: #ccc;
  top: 27px;
  z-index: 9999;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown__arrow,
.dropdown__arrow:after {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
  border-top-width: 0;
}
/* line 48, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown__arrow:after {
  content: " ";
  top: 1px;
  display: block;
  margin-left: -8px;
  border-bottom-color: #fff;
}
/* line 61, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown-menu_color > li > a:hover {
  background-color: #007ecd;
  color: #fff;
}
/* line 70, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown-menu_spaced > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 80, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown-menu_icons .glyphicon {
  margin-right: 5px;
}
/* line 86, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/dropdown-modifications.less */
.dropdown-menu > li > .disabled-item {
  color: #ccc;
  pointer-events: none;
  cursor: default;
}
/**
 * Curved corners of bootstrap table mixin (common).
 */
/* line 7, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved {
  border-radius: 4px;
}
/* line 10, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > thead > tr > th:first-child {
  border-radius: 4px 0 0 0;
}
/* line 13, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > thead > tr > th:last-child {
  border-radius: 0 4px 0 0;
}
/* line 16, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > thead > tr > th:only-child {
  border-radius: 4px 4px 0 0;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > tbody > tr:last-child td:first-child,
.table_curved > tfoot > tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
/* line 27, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > tbody > tr:last-child td:last-child,
.table_curved > tfoot > tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_curved > tbody > tr:last-child td:only-child,
.table_curved > tfoot > tr:last-child td:only-child {
  border-radius: 0 0 4px 4px;
}
/* line 38, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_general {
  table-layout: fixed;
  border: 1px solid #ddd;
  border-collapse: initial;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_general thead,
.table_general tfoot {
  background-color: #F7F7F9;
}
/* line 47, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_general > tbody > tr > td,
.table_general > thead > tr > th {
  vertical-align: middle;
  padding: 12px 8px;
}
/* line 53, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_general > thead > tr > th {
  border-bottom: 1px;
}
/* line 59, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_general > tbody > tr > td:nth-child(2),
.table_general > thead > tr > td:nth-child(2) {
  padding-left: 12px;
}
/**
 * Table sortable (common)
 *
 * In order to make table header with caret, add class `table_sortable__column`
 * to `th` and put `span.table_sortable__caret` into them.
 */
/* line 5, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list {
  border-radius: 4px;
  table-layout: fixed;
  border: 1px solid #ddd;
  border-collapse: initial;
  font-size: 13px;
}
/* line 10, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list th {
  color: #999;
}
/* line 14, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list .table_sortable__caret {
  display: none;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_sortable__column_sorted-asc .table_manage-shares-list {
  display: inline-block;
  border-top: 4px solid #000;
  border-bottom: 0 dotted;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_sortable__column_sorted-desc .table_manage-shares-list {
  display: inline-block;
  border-top: 0;
  border-bottom: 4px solid #000000;
}
/* line 36, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list .table_sortable__column {
  color: #999;
  cursor: pointer;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list .table_sortable__column_sorted-asc .table_sortable__caret {
  display: inline-block;
  border-top: 0;
  border-bottom: 4px solid #000000;
}
/* line 49, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list .table_sortable__column_sorted-desc .table_sortable__caret {
  display: inline-block;
  border-top: 4px solid #000;
  border-bottom: 0 dotted;
}
/* line 57, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-sortable.less */
.table_manage-shares-list .table_sortable__column_sorted {
  color: #000;
}
/* line 10, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > thead > tr > th:first-child {
  border-radius: 4px 0 0 0;
}
/* line 13, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > thead > tr > th:last-child {
  border-radius: 0 4px 0 0;
}
/* line 16, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > thead > tr > th:only-child {
  border-radius: 4px 4px 0 0;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > tbody > tr:last-child td:first-child,
.table_manage-shares-list > tfoot > tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
/* line 27, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > tbody > tr:last-child td:last-child,
.table_manage-shares-list > tfoot > tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > tbody > tr:last-child td:only-child,
.table_manage-shares-list > tfoot > tr:last-child td:only-child {
  border-radius: 0 0 4px 4px;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list thead,
.table_manage-shares-list tfoot {
  background-color: #F7F7F9;
}
/* line 47, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > tbody > tr > td,
.table_manage-shares-list > thead > tr > th {
  vertical-align: middle;
  padding: 12px 8px;
}
/* line 53, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > thead > tr > th {
  border-bottom: 1px;
}
/* line 59, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/table-modifiers.less */
.table_manage-shares-list > tbody > tr > td:nth-child(2),
.table_manage-shares-list > thead > tr > td:nth-child(2) {
  padding-left: 12px;
}
/* line 13, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list > tbody > tr > td,
.table_manage-shares-list > thead > tr > th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 18, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list > tbody > tr > td:last-child,
.table_manage-shares-list > thead > tr > th:last-child {
  text-align: center;
}
/* line 23, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .checkbox-col {
  width: 52px;
  border-right: 1px solid #ddd;
}
/* line 27, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .title-col {
  padding-left: 10px !important;
  width: 100%;
}
/* line 31, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .recipient-col {
  width: 180px;
}
/* line 34, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .org-col {
  width: 140px;
}
/* line 37, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .date-shared-col {
  width: 120px;
}
/* line 40, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .date-last-col {
  width: 180px;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .date-acc-col {
  width: 120px;
}
/* line 46, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .date-exp-col {
  width: 120px;
}
/* line 49, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .action-col {
  width: 85px;
}
/* line 53, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .checkbox-column {
  padding: 0;
  border-right: 1px solid #ddd;
}
/* line 56, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .checkbox-column span {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 61, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .checkbox-column input {
  display: inline-block;
  margin: 0;
}
/* line 67, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .share-actions {
  overflow: visible;
}
/* line 71, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .empty-column {
  text-align: center;
}
/* line 75, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .nested-row > td {
  border-top: 0;
  background-color: #F8F8F8;
}
/* line 77, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .nested-row > td:first-child {
  border-right: 1px solid #ddd !important;
}
/* line 86, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .nested-row_path > td {
  text-align: left !important;
  background-color: #fff;
}
/* line 87, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.table_manage-shares-list .nested-row_path > td:first-child {
  border-right: 1px solid #ddd;
}
/* line 104, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.share-row-selected {
  background-color: #FCF8E3;
}
/* line 106, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.share-row-selected:hover > td {
  background-color: #FCF8E3!important;
}
/* line 111, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.share-list-row {
  -webkit-transition: all 1s;
  /* For Safari 3.1 to 6.0 */
  transition: all 0.5s;
}
/* line 114, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.share-list-row .obj-name {
  white-space: nowrap;
}
/* line 120, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.item-hidden {
  display: none;
}
/* line 125, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/table-manage-shares-list.less */
.share-row-disabled,
.share-row-disabled .text-primary {
  color: #ddd!important;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar {
  display: inline-block;
  margin-left: -7px;
  padding-left: 0;
  list-style: none;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 35, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar > li:first-child {
  padding-left: 0;
}
/* line 40, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link {
  padding: 3px 7px;
  text-decoration: none;
}
/* line 44, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link:hover {
  text-decoration: none;
}
/* line 49, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link-meta {
  color: #000;
}
/* line 52, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link-meta:hover {
  color: #000;
}
/* line 57, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link-active {
  color: #000;
  cursor: default;
}
/* line 61, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar__link-active:hover {
  text-decoration: none;
}
/* line 67, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_large-switcher {
  font-size: 20px;
}
/* line 76, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal {
  margin-bottom: 6px;
  margin-left: -17px;
}
/* line 80, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal > li {
  margin-left: 17px;
  padding-right: 0;
  padding-left: 0;
}
/* line 86, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link {
  padding: 0 7px 9px 0;
  color: #95c1e7;
  outline: none;
  text-decoration: none;
}
/* line 92, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link:hover {
  color: #fff;
}
/* line 95, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link:hover .inline-links-bar__link-meta {
  color: #fff;
}
/* line 101, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link-active {
  border-bottom: 2px solid #fff;
  color: #fff;
}
/* line 105, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link-active .inline-links-bar__link-meta {
  color: #fff;
}
/* line 109, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link-active:hover {
  color: #fff;
}
/* line 114, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/inline-links-bar.less */
.inline-links-bar_in-modal .inline-links-bar__link-meta {
  color: #95c1e7;
}
/* line 1, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper {
  display: inline-block;
  overflow: visible;
  max-width: 100%;
  vertical-align: baseline;
}
/* line 7, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper-text {
  display: inline-block;
  width: 100%;
}
/* line 11, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper-text_fakelink {
  color: #428bca;
  cursor: pointer;
}
/* line 17, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper-link {
  display: inline-block;
  width: 100%;
}
/* line 22, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper_not-full-width {
  max-width: 85%;
  width: auto;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper .tooltip-inner {
  max-width: none;
}
/* line 35, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper_tooltip-filelist .tooltip {
  left: 35px !important;
}
/* line 38, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper_tooltip-filelist .tooltip.top .tooltip-arrow {
  left: 30px !important;
}
/* line 45, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper_tooltip-swm .tooltip {
  left: 73px !important;
}
/* line 48, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/directives/ncc_truncate.less */
.truncate-wrapper_tooltip-swm .tooltip.top .tooltip-arrow {
  left: 30px !important;
}
/* line 9, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.btn_actions {
  padding: 3px 7px 1px 7px;
  border: 0;
  display: inline-block;
  background-color: #f8f8f8;
  color: #737880;
}
/* line 17, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.btn_actions-white {
  padding: 3px 7px 1px 7px;
  border: 0;
  display: inline-block;
  background-color: #f8f8f8;
  color: #737880;
  background-color: #fff;
}
/* line 24, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-list-utils {
  margin-bottom: 15px;
}
/* line 28, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.share-bulk-actions {
  display: inline-block;
}
/* line 33, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.share-search {
  width: 300px;
  display: inline-block;
  float: right;
}
/* line 41, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-pagination {
  display: inline-block;
  float: right;
}
/* line 45, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-pagination .pagination {
  margin: 0;
}
/* line 48, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-pagination .pagination ul > li > a {
  color: #000;
}
/* line 52, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-pagination .pagination ul > .active > a {
  color: #fff;
  background-color: #303641;
  border-color: #303641;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-pagination ul {
  margin: 0;
}
/* line 70, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-on-page-selector {
  display: inline-block;
}
/* line 74, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.shares-quantity {
  display: inline-block;
}
/* line 79, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.empty-list-row p {
  margin: 0;
}
/* line 90, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.form-column {
  padding-right: 15px;
  padding-left: 15px;
}
/* line 95, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.pin-input-block {
  width: 170px;
  display: inline-block;
  margin-right: 12px;
  margin-left: 15px;
  vertical-align: top;
}
/* line 103, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.ts-form-help-trigger {
  display: inline-block;
  margin-left: 7px;
}
/* line 108, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.ts-form-mark {
  padding: 2px 2px 0px 2px;
  display: inline-block;
  color: #fff;
  position: relative;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 22px;
  text-align: center;
  background-color: #888;
  cursor: pointer;
}
/* line 121, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.ts-form-mark:focus {
  outline: none;
}
/* line 125, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.ts-form-mark:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}
/* line 132, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.expiration-dates-selector {
  display: inline-block;
}
/* line 138, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.form-label-disabled {
  color: #bfbfbf;
}
/* line 142, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.ts-watermark-wrapper {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
}
/* line 151, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.bootstrap-datetimepicker-widget ul {
  padding-left: 0;
}
/* line 158, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
div.tooltip-inner {
  max-width: 600px;
}
/* line 163, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.tooltip-wrapper {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
/* line 172, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.list-inline_spaced {
  margin-bottom: 0;
}
/* line 174, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.list-inline_spaced li {
  margin-right: 35px;
  padding-right: 0;
}
/* line 181, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.list-inline_half-width li {
  width: 45%;
}
/* line 186, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.list-inline_second {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 193, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.item-meta .glyphicon-send {
  margin-right: 5px;
}
/* line 198, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/manage_shares.less */
.share-status-filters {
  display: inline-block;
  margin-left: 20px;
}
