/* line 11, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message {
  width: 100%;
  padding: 5px 20px;
  border-bottom: 1px solid;
  box-sizing: content-box;
  background-color: #0072ba;
  border-color: #003354;
}
/* line 105, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message .ncc-message__text {
  color: #fff;
}
/* line 109, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message .ncc-message__close-button {
  color: #fff;
  background-color: #0072ba;
}
/* line 113, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message .ncc-message__close-button:hover {
  text-decoration: none;
  background-color: #0082d3;
}
/* line 19, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message:last-child {
  border: 0;
}
/* line 23, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message__wrapper {
  max-width: 980px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
/* line 30, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message__body {
  text-align: center;
  white-space: nowrap;
}
/* line 36, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message__text {
  margin-bottom: 0;
}
/* line 39, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message__text a {
  text-decoration: underline;
}
/* line 44, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message__close-button-wrapper {
  position: absolute;
  top: 0;
  width: 48px;
  height: 48px;
  right: 0;
  font-size: 24px;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_fixed-position-top {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  top: 0;
}
/* line 69, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_fixed-position-bottom {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
}
/* line 77, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_fixed-height-oneliner {
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  padding: 0;
}
/* line 84, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_fixed-height-oneliner .ncc-message__text .btn {
  text-transform: uppercase;
  color: #000;
  background-color: #cbcbcb;
  border: 0;
  margin-left: 30px;
}
/* line 91, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_fixed-height-oneliner .ncc-message__text .btn:hover {
  background-color: #e4e4e4;
}
/* line 120, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_warning {
  background-color: #ffe385;
  border-color: #ffcc1f;
}
/* line 105, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_warning .ncc-message__text {
  color: #000;
}
/* line 109, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_warning .ncc-message__close-button {
  color: #000;
  background-color: #ffe385;
}
/* line 113, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_warning .ncc-message__close-button:hover {
  text-decoration: none;
  background-color: #ffe99f;
}
/* line 124, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_success {
  background-color: #c7ffbf;
  border-color: #6eff59;
}
/* line 105, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_success .ncc-message__text {
  color: #000;
}
/* line 109, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_success .ncc-message__close-button {
  color: #000;
  background-color: #c7ffbf;
}
/* line 113, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_success .ncc-message__close-button:hover {
  text-decoration: none;
  background-color: #ddffd9;
}
/* line 128, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_danger {
  background-color: #ff7d79;
  border-color: #ff1a13;
}
/* line 105, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_danger .ncc-message__text {
  color: #000;
}
/* line 109, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_danger .ncc-message__close-button {
  color: #000;
  background-color: #ff7d79;
}
/* line 113, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_danger .ncc-message__close-button:hover {
  text-decoration: none;
  background-color: #ff9693;
}
/* line 135, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/components/message.less */
.ncc-message_closable {
  margin-right: 48px;
}
