/* Override default Bootstrap modals styles -
 *  make them with blue header and title. It's a temporary workaround,
 *  we should delete it after move to new templates and styleguide.
 */
/* line 7, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .modal-header {
  background-color: #0060ac;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -1px;
  position: relative;
  padding: 4px 20px;
}
/* line 16, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .modal-content {
  border: 0;
}
/* line 19, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .modal-title {
  color: #fff;
  font-weight: normal;
}
/* line 22, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .modal-title h1,
.modal-header-blue .modal-title h2,
.modal-header-blue .modal-title h3,
.modal-header-blue .modal-title h4 {
  font-weight: normal;
}
/* line 26, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  opacity: 0.8;
  text-shadow: none;
  color: #fff;
}
/* line 34, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .close:hover {
  opacity: 1;
}
/* line 38, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue .modal-header .close {
  margin-top: 8px;
}
/* line 45, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header.modal-header-blue {
  padding: 4px 20px;
  background-color: #0060ac;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -1px;
  position: relative;
  font-weight: normal;
}
/* line 55, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header.modal-header-blue h1,
.modal-header.modal-header-blue h2,
.modal-header.modal-header-blue h3,
.modal-header.modal-header-blue h4 {
  font-weight: normal;
  color: #fff;
}
/* line 61, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue-fix .modal-header .close {
  margin-top: 8px;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-header-blue-fix h1,
.modal-header-blue-fix h2,
.modal-header-blue-fix h3,
.modal-header-blue-fix h4 {
  margin: 8px 0;
}
/* line 69, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncryptedcloud/less/cwp/modals-override.less */
.modal-content.modal-successful-state {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
