/* line 8, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios {
  display: inline-block;
  margin-left: -6px;
  min-height: 35px;
}
/* line 14, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios input[type="radio"] {
  display: none;
}
/* line 18, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios label {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  padding: 2px 6px !important;
  position: relative;
  top: 4px;
}
/* line 23, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios label:hover {
  background-color: #F0F5FF;
}
/* line 28, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios input[type="radio"]:checked + label {
  background-color: #E7EFFF;
}
/* line 32, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radio-disabled {
  opacity: 0.4;
}
/* line 35, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radio-disabled input[type="radio"]:checked + label {
  background-color: #E7EFFF;
  color: #000;
}
/* line 40, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radio-disabled:hover {
  background-color: #fff;
}
/* line 45, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.input-select {
  width: 155px;
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
}
/* line 52, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.input-select_input {
  width: 45px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
/* line 59, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.input-select_select {
  width: 75px;
  display: inline-block;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/pilled_radios.less */
.pilled-radios input[type="radio"]:checked + label.pilled-radio_label-error {
  background-color: #FFD9D9;
}
