/* line 2, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-block {
  display: none;
  padding: 0 15px;
  margin-top: 20px;
}
/* line 7, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon {
  background: transparent url("/static/ncc_cwp/img/cloud_providers_icons_sprite.png") 0 0 no-repeat;
}
/* line 10, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-list {
  margin-left: -15px;
  padding: 0;
}
/* line 14, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-item {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  text-align: center;
  width: 50px;
  margin-bottom: 12px;
}
/* line 22, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon {
  width: 100%;
  height: 47px;
  font-size: 10px;
  display: block;
  text-indent: -9999px;
}
/* line 29, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon.disabled {
  opacity: 0.5;
  background-color: #efefef;
}
/* line 33, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-wrapper {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
}
/* line 39, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-wrapper:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 44, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-dropbox {
  background-position: -8px -25px;
}
/* line 47, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-onedrive {
  background-position: -8px -88px;
}
/* line 50, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-google_drive {
  background-position: -8px -152px;
}
/* line 53, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-box {
  background-position: -8px -216px;
}
/* line 56, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-egnyte {
  background-position: -5px -267px;
}
/* line 60, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-icon-ncryptedcloud {
  background-position: -5px -358px;
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.add-cloud-provider-button {
  display: block;
  text-decoration: none;
  color: #aaa;
}
/* line 70, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.cloud-providers-group {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}
/* line 77, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-name {
  font-size: 11px;
  line-height: 1;
  display: block;
  margin-bottom: 5px;
}
/* line 84, /Users/alexanderdoroshenko/Projects/ncc-web/webapp/ncryptedcloud/static/ncryptedcloud/less/components/pick_cloud_provider.less */
.pick-cloud-provider-soon {
  font-style: italic;
  color: #d9534f;
  font-size: 11px;
  display: inline-block;
  line-height: 0.85;
}
/* line 12, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.secondary-nav-block {
  background-color: #f7f7f7;
  padding: 9px 0 2px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-transition: box-shadow linear 0.5s;
  -moz-transition: box-shadow linear 0.5s;
  -o-transition: box-shadow linear 0.5s;
  transition: box-shadow linear 0.5s;
}
@media print {
  /* line 26, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
  .secondary-nav-block {
    display: none;
  }
}
/* line 31, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.account-button-block {
  float: left;
  display: inline-block;
}
/* line 36, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.breadcrumbs-block {
  display: inline-block;
}
/* line 40, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-block {
  display: inline-block;
}
/* line 43, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-header {
  display: inline-block;
  font-size: 14px;
  margin-left: 35px;
}
/* line 48, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* line 53, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-list li {
  display: inline-block;
}
/* line 55, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-list li:after {
  content: ',';
}
/* line 58, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sharedwith-list li:last-child:after {
  content: '';
}
/* line 64, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.breadcrumb-nav > li + li:before {
  padding: 0 0px 0 10px;
}
/* line 68, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.breadcrumb.breadcrumb-nav {
  margin: 0;
}
/* line 72, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.controls-block {
  position: relative;
  z-index: 2;
  float: right;
  text-align: left;
}
/* line 77, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.controls-block .controls {
  vertical-align: top;
  margin-right: 10px;
}
/* line 83, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.glyphicon-small {
  font-size: 12px !important;
}
/* line 88, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.controls-block .controls {
  display: inline-block;
}
/* line 92, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.search-block {
  display: inline-block;
}
/* line 95, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.search-block {
  width: 250px;
}
/* line 99, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.account-provider-icon {
  width: 20px;
  height: 18px;
  position: absolute;
}
/* line 104, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-icon-dropbox {
  background: transparent url("/static/img/cwp/providers/dropbox.png") 0 0 no-repeat;
}
/* line 108, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.controls.btn-group {
  width: 184px;
  margin-right: -40px;
}
/* line 114, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.customer-header.secondary-nav {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  margin-bottom: 0;
  z-index: 4;
  position: relative;
}
/* line 122, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.icon-in-link {
  text-decoration: none;
}
/* line 126, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sticky {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.63);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
/* line 137, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.sec-nav-left-wrapper {
  position: relative;
  z-index: 1;
}
/* line 146, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-bottom {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}
/* line 150, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-bottom li {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 155, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-header {
  padding: 0 0 0 40px;
  display: inline-block;
  vertical-align: middle;
}
/* line 160, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list {
  margin: 0 0 3px 0;
  padding: 0;
  list-style-type: none;
}
/* line 165, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list li {
  position: relative;
}
/* line 167, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list li a {
  display: block;
  padding: 6px 10px 6px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
/* line 175, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list li a:hover {
  color: #262626;
  text-decoration: none;
}
/* line 180, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list li:hover {
  background-color: #f5f5f5;
}
/* line 182, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-list li:hover .provider-unlink {
  opacity: 1;
  cursor: pointer;
}
/* line 189, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-providers-dropdown-divider {
  margin-top: 25px;
}
/* line 192, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.add-cloud-provider-block {
  text-align: center;
}
/* line 196, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-dropdown-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: transparent url("/static/ncc_cwp/img/cloud_providers_icons_sprite.png") 0 0 no-repeat;
  vertical-align: middle;
}
/* line 203, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropbox-icon {
  background-position: -16px -35px;
}
/* line 206, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.google_drive-icon {
  background-position: -16px -159px;
}
/* line 209, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.shared-icon {
  background-position: 0 -90px;
}
/* line 212, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.onedrive-icon {
  background-position: -16px -96px;
}
/* line 215, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.box-icon {
  background-position: -16px -224px;
}
/* line 218, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.egnyte-icon {
  background-position: -16px -275px;
}
/* line 221, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.ncryptedcloud-icon {
  background-position: -16px -368px;
}
/* line 224, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cog-icon {
  background-position: 0 -127px;
}
/* line 227, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.inner-dropdown {
  position: absolute;
  top: -3px;
  left: 102%;
}
/* line 232, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-header-link {
  font-size: 12px;
  color: #555;
  display: inline-block;
  text-decoration: underline;
  position: absolute;
  right: 15px;
  top: 13px;
}
/* line 241, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-header-block {
  min-width: 250px;
  position: relative;
}
/* line 245, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.dropdown-group-header-block:hover > .dropdown-group-header-link {
  opacity: 1;
}
/* line 248, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-unlink {
  text-align: center;
  opacity: 0;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  padding: 0!important;
  color: #aaa!important;
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  -webkit-backface-visibility: hidden;
}
/* line 267, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-unlink:hover {
  color: #515151!important;
}
/* line 270, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-unlink .glyphicon {
  top: 0;
}
/* line 275, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.showimportant {
  opacity: 1!important;
}
/* line 279, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.js-secure-views-dropdown {
  min-width: 200px;
}
/* line 284, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-providers-group-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 289, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-providers-group-list-item {
  margin-bottom: 20px;
}
/* line 294, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-controls {
  opacity: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 301, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-controls:hover {
  opacity: 1;
}
/* line 306, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.liqiud-width {
  display: none;
}
/* line 310, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.liquid-input {
  margin-right: 8px;
  margin-left: -3px;
  margin-top: 3px;
  margin-right: 6px;
}
/* line 321, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-controls {
  display: inline-block;
}
/* line 323, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-controls .highlight {
  color: blue!important;
}
/* line 328, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-name {
  display: inline-block;
}
/* line 332, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-rename {
  right: 35px;
}
/* line 336, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.header-help-block {
  margin-right: 20px;
  display: inline-block;
  top: 2px;
  position: relative;
}
/* line 342, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.header-help-link {
  color: #fff;
}
/* line 344, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.header-help-link:hover {
  color: #FAFAB7;
}
/* line 349, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.right-radius {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
/* line 354, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.left-radius {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
/* line 359, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  background: transparent url("/static/ncc_cwp/img/cloud_providers_icons_sprite.png") 0 0 no-repeat;
}
/* line 366, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.dropbox-icon {
  background-position: -16px -34px;
}
/* line 369, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.google_drive-icon {
  background-position: -15px -160px;
}
/* line 372, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.box-icon {
  background-position: -16px -225px;
}
/* line 375, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.onedrive-icon {
  background-position: -15px -97px;
}
/* line 378, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.egnyte-icon {
  background-position: -16px -275px;
}
/* line 381, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-icon.ncryptedcloud-icon {
  background-position: -16px -368px;
}
/* line 387, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-block {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 4px;
}
/* line 392, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-block.corporate {
  right: 36px;
}
/* line 397, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-block {
  display: inline-block;
  padding-right: 90px;
  width: 80%;
}
/* line 403, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-block:hover .provider-name-controls-block {
  color: red;
}
/* line 410, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls {
  display: inline-block;
  background: transparent url("/static/ncc_cwp/img/provider-add-controls.png") 0 0 no-repeat;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  line-height: 16px;
  -webkit-transition: opacity linear 0.1s;
  -moz-transition: opacity linear 0.1s;
  -o-transition: opacity linear 0.1s;
  transition: opacity linear 0.1s;
}
/* line 422, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls:hover {
  cursor: pointer;
}
/* line 427, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.editor-enabled {
  opacity: 1!important;
}
/* line 431, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-remove {
  margin-right: 5px;
  margin-left: -5px;
  background-position: -25px -72px;
}
/* line 435, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-remove:hover {
  background-position: -25px -172px;
}
/* line 440, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-edit {
  background-position: -25px -24px;
}
/* line 444, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-checkmark {
  background-position: -25px -216px;
  position: absolute;
  top: 2px;
  opacity: 0;
}
/* line 450, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-checkmark:hover + span {
  background-position: -25px -124px;
}
/* line 456, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.provider-name-controls-save {
  font-size: 12px;
  color: #555;
  text-decoration: underline;
  padding-right: 10px;
  margin-left: -10px;
}
/* line 465, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identities-dropdown-group {
  color: #fff;
  padding: 0px 0px 15px 0px;
}
/* line 470, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identity-list-item {
  color: #fff;
  margin-bottom: 0;
}
/* line 473, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identity-list-item i {
  padding-right: 5px;
}
/* line 477, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identity-item {
  color: #fff;
  text-decoration: none;
  padding: 2px 18px 2px 42px;
  display: block;
  font-weight: normal;
}
/* line 484, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identity-item:hover {
  text-decoration: none;
  color: #fff;
  background-color: #646464;
}
/* line 490, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identities-group-header {
  font-size: 14px;
  margin-left: 19px;
  margin-bottom: 5px;
}
/* line 495, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.identities-group-wrapper {
  margin-top: 40px;
}
/* line 499, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.current-identity {
  padding: 2px 18px 2px 20px;
}
/* line 503, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.btn-group.actions-dropdown-trigger {
  display: inline-block;
}
/* line 507, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.header-help-link {
  font-size: 14px;
}
/* line 511, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-selector-button {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
}
/* line 517, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-selector-dropdown {
  padding-bottom: 0;
}
/* line 519, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-selector-dropdown a:focus {
  outline: none;
}
/* line 525, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.open .cloud-provider-selector-button {
  z-index: 2;
  position: relative;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #fff!important;
  box-shadow: none!important;
  border-color: rgba(0, 0, 0, 0.15) !important;
}
/* line 538, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.open .cloud-provider-selector-dropdown {
  border-top-left-radius: 0;
  top: 30px;
  z-index: 1;
  min-width: 365px;
}
/* line 545, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.currentsecureview {
  background-color: #F1F1F1;
}
/* line 549, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.in-button-text {
  margin-left: -3px;
}
/* line 553, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-group-label-block {
  margin-bottom: 5px;
}
/* line 557, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.cloud-provider-group-label {
  padding: 3px 5px;
  background-color: #aaa;
  font-size: 10px;
  color: #fff;
}
/* line 564, /Users/alexanderdoroshenko/Projects/ncc-web/var/shared/static/ncc_cwp/less/secondary-nav.less */
.backtoportal-button-block {
  display: inline-block;
}
