<div class="share-bulk-actions">
    <div class="btn-group">

        <a type="button"
                class="btn btn-default dropdown-toggle"
                style="padding-top: 4px; padding-bottom: 4px;"
                ng-click="checkIfItemsSelected(items)"
                ng-disabled="getSelectedItems(items, actionsFor).length === 0"
                data-toggle="dropdown">
            <span style="margin-right: 15px;">Bulk actions</span>
            <span style="border-left: 1px solid #ddd; padding: 6px 4px 6px 15px;">
                <span class="caret"></span>
            </span>
        </a>

        <!--Active shares actions-->
        <ul ng-if="actionsFor === 'shares'"
            class="dropdown-menu dropdown-menu_color dropdown-custom dropdown-menu_spaced dropdown-menu_icons"
            role="menu">
            <li role="presentation" class="dropdown-header">Selected items</li>
            <li ng-if="disabledView">
                <a ng-click="activateAction(items)" href="">
                <i class="glyphicon glyphicon-ok"></i> Enable shares</a>
            </li>
            <li ng-if="activeView">
                <a ng-click="disableAction(items)" href="">
                <i class="glyphicon glyphicon-ban-circle"></i> Disable shares</a>
            </li>
            <li ng-if="activeView && !secureMailsOnly">
                <a ng-click="resendAction(items)" href="">
                <i class="glyphicon glyphicon-send"></i> Resend shares</a>
            </li>
        </ul>

        <!--Request access actions-->
        <ul ng-if="actionsFor === 'requests'" class="dropdown-menu dropdown-menu_spaced dropdown-menu_icons" role="menu">
            <li role="presentation" class="dropdown-header">Selected items</li>
            <li>
                <a ng-click="approveAction(items)" href="">
                <i class="glyphicon glyphicon-ok"></i> Approve</a>
            </li>
            <li>
                <a ng-click="declineAction(items)" href="">
                <i class="glyphicon glyphicon-ban-circle"></i> Reject</a>
            </li>
            <li>
                <a ng-click="deleteAction(items)" href="">
                <i class="glyphicon glyphicon-trash"></i> Delete</a>
            </li>
        </ul>




        <ul ng-if="actionsFor === 'swmActive'" class="dropdown-menu dropdown-menu_spaced dropdown-menu_icons" role="menu">
            <li role="presentation" class="dropdown-header">Selected items</li>
            <li>
                <a ng-click="requestExtensionAction(items)" href="">
                    <i class="fa fa-clock-o"></i> Request Extension</a>
            </li>
        </ul>

        <ul ng-if="actionsFor === 'swmDisabled'" class="dropdown-menu dropdown-menu_spaced dropdown-menu_icons" role="menu">
            <li role="presentation" class="dropdown-header">Selected items</li>
            <li>
                <a ng-click="requestAccessAction(items)" href="">
                    <i class="fa fa-key"></i> Request Access</a>
            </li>
        </ul>

        <ul ng-if="actionsFor === 'swmRequests'" class="dropdown-menu dropdown-menu_spaced dropdown-menu_icons" role="menu">
            <li role="presentation" class="dropdown-header">Selected items</li>
            <li>
                <a ng-click="sendRequestReminderAction(items)" href="">
                    <i class="fa fa-clock-o"></i> Send Reminders</a>
            </li>
            <li>
                <a ng-click="deleteRequestAction(items)" href="">
                    <i class="fa fa-trash"></i> Delete</a>
            </li>
        </ul>

    </div>
</div>