<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Enable Share</h4>
</div>

<div class="modal-body" ng-if="!expired">
    <p>Are you sure you want to enable <strong>{{ item.name }}</strong> for
        <strong ng-bind-html="item | recipientsFilter"></strong>?
    </p>
</div>

<div class="modal-body" ng-if="expired">
    <p>This share expired on <strong>{{ item.expire | date: 'MMM dd, yyyy, h:mm a' }}</strong></p>
    <p>Please set a new expiration date in order to enable <strong>{{ item.name }}</strong> for
        <strong ng-bind-html="item | recipientsFilter"></strong>.
    </p>

    <div>
        <div ng-hide="extendOptions.advancedSelector">

            <ncc-simple-expire-selector
                item="item"
                options="extendOptions.options"
                selected="extendOptions.selected">
            </ncc-simple-expire-selector>

            <div>
                <a class="advanced-selector-link" style="display: block;" href=""
                   ng-click="extendOptions.advancedSelector = true">Advanced</a>
            </div>
        </div>

        <div ng-show="extendOptions.advancedSelector">
            <p>Please choose a new expiration date for this share.</p>
            <div class="form-group" style="display:inline-block;">
                <div class='input-group date'
                     id='datetimepicker2'
                     ui-datetimepicker
                     datetimepicker-init-date="tomorrow"
                     ng-model="temp"
                     validation-errors="expiration.errors"
                     max-expiration="item.policy['max-expiration'].value"
                     binddata="advancedDate.date">
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>

            <div>
                <p class="text-danger" ng-show="expiration.errors.dateInPast">You can't set this expiration date.</p>
                <p class="text-danger" ng-show="expiration.errors.invalidDate">Invalid date</p>
                <p class="text-danger" style=""
                   ng-show="expiration.errors.biggerThanMax">Per corporate policy, you can't set an expiration date<br />for
                    more than <strong>{{ expiration.errors.biggerThanMaxLabel }}</strong>.</p>
            </div>

            <div>
                <a class="simple-selector-link" href=""
                   ng-click="extendOptions.advancedSelector = false">Simple</a>
            </div>
        </div>

    </div>

</div>

<div class="modal-footer" ng-if="!expired">
    <button class="btn btn-default activate-item-cancel-btn" ng-click="cancel()"
            style="background-color: #EBEBEB; border: 0;">Cancel</button>
    <button class="btn btn-primary btn_brand activate-item-enable-btn"
            ng-click="activateItem()" style="background-color: #0060AC;border: 0;">Enable</button>
</div>

<div class="modal-footer" ng-if="expired">
    <button class="btn btn-default save-options-cancel-btn" ng-click="cancel()"
            style="background-color: #EBEBEB; border: 0;">Cancel</button>
    <button class="btn btn-primary btn_brand save-options-enable-btn" ng-disabled="hasErrors()"
            ng-click="saveShareOptions()" style="background-color: #0060AC;border: 0;">Enable</button>
</div>
