<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Resend Shares</h4>
</div>

<div class="modal-body">
    <p ng-if="items.length === 1">Are you sure you want to resend the share <strong>{{ items[0].name }}</strong> for
        <strong ng-bind-html="items[0] | recipientsFilter"></strong>?</p>
    <p ng-if="items.length !== 1">Are you sure you want to resend these <strong>{{ items.length }} shares</strong>?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" style="background-color: #EBEBEB; border: 0;">Cancel</button>
    <button class="btn btn-primary btn_brand" ng-click="resendNotifications(items)"
            style="background-color: #0060AC;border: 0;">Resend</button>
</div>