<div class="modal-header">
    <button ng-click="cancel()" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Disable Share</h4>
</div>

<div class="modal-body">
    <p>Are you sure you want to disable <strong>{{ item.name }}</strong> for <strong ng-bind-html="item | recipientsFilter"></strong>?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-default disable-item-cancel-btn" ng-click="cancel()"
            style="background-color: #EBEBEB; border: 0;">Cancel</button>
    <button class="btn btn-primary btn_brand disable-item-disable-btn"
            ng-click="disableItem()" style="background-color: #0060AC;border: 0;">Disable</button>
</div>
