<div class="row">
    <div class="col-md-12">

        <ng-include src="'/static/ncc_collaborations/templates/partials/header-switcher.html'"></ng-include>

        <div class="shares-list-utils">
            <bulk-actions-dropdown
                    on-dropdown-open="checkAnySelectedItems(items)"
                    activate-action="activateSelectedItems(items)"
                    disable-action="deactivateSelectedItems(items)"
                    resend-action="bulkResendNotifications(items)"
                    toggle-paths-action="togglePaths()"
                    toggle-paths-label="togglePathsLabel"
                    conditional-actions-flag="activetab"
                    items="items"
                    secure-mails-only="secureMailsOnly"
                    class="share-bulk-actions"
                    actions-for="shares"></bulk-actions-dropdown>

            <ng-include src="'/static/ncc_collaborations/templates/partials/filter_menu.html'"></ng-include>

            <ng-include src="'/static/ncc_collaborations/templates/partials/search-input.html'"></ng-include>

        </div>

        <div class="items-list">
            <table class="table table_manage-shares-list table-hover">

                <colgroup>
                    <col class="checkbox-col"/>
                    <col class="title-col"/>
                    <col class="recipient-col"/>
                    <col class="org-col"/>
                    <col class="date-shared-col"/>
                    <col class="date-exp-col"/>
                    <col class="date-acc-col"/>
                    <col class="action-col"/>
                </colgroup>

                <thead>
                <tr>
                    <th class="checkbox-column" disable-text-selection>
                        <span>
                            <input id="check-all-checkboxes" ng-model="utils.allItemsSelected"
                                   type="checkbox">
                        </span>
                    </th>
                    <th ng-class="{
                                'table_sortable__column': header.sortable,
                                'table_sortable__column_sorted-asc': sortingDirectionOf(header) === 'asc',
                                'table_sortable__column_sorted-desc': sortingDirectionOf(header) === 'desc',
                                'table_sortable__column_sorted': sortingDirectionOf(header) === 'asc' ||
                                                                 sortingDirectionOf(header) === 'desc',
                                'organization-column': header.slug === 'organization'
                            }"
                        ng-repeat="header in headers"
                        disable-text-selection
                        ng-click="(!header.sortable) || sortItems(header.slug)">
                        <span tooltip="{{ header.title }}">{{ header.title }}</span> <span
                            class="table_sortable__caret"></span>
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr ng-show="emptySearchResults">
                    <td colspan="8" style="text-align: center">
                        <p>Sorry, no matches.</p>
                    </td>
                </tr>

                <tr ng-show="emptyView" class="empty-list-row">
                    <td ng-if="activetab === 'active' && !searchView" colspan="8" style="text-align: center">
                        <p>You have no active shares.</p>
                    </td>
                    <td ng-if="activetab === 'disabled' && !searchView" colspan="8" style="text-align: center">
                        <p>You have no disabled shares.</p>
                    </td>
                </tr>

                <tr ng-repeat-start="item in items" class="share-list-row"
                    ng-click="toggleRow(item)"
                    ng-class="{
                            'share-row-disabled': (!item.active && activetab == 'active') || requestInProgress,
                            'share-row-selected': item.isSelected,
                            'pulsing-color': item.isResending,
                            'resend-success': item.resendSuccessful,
                            'row-expanded': item.isExpanded,
                            'path-showed': item.isPathShowed,
                            'action-succeed': item.isActionSucceed,
                            'action-failed': item.isActionFailed,
                            'item-hidden': item.hide
                        }">

                    <td class="checkbox-column" disable-text-selection prevent-click-event>
                        <span>
                            <input id="share-checkbox-{{$index}}" ng-model="item.isSelected"
                                   type="checkbox">
                        </span>
                    </td>

                    <td class="obj-name">
                        <div class="truncate-wrapper truncate-wrapper_tooltip-swm">
                            <span class="truncate-wrapper-text truncate-wrapper-text_fakelink"
                                  ng-click="openTsLink(item, $event);"
                                  ncc-truncate="item.name"
                                  ncc-truncate-tooltip></span>
                        </div>
                    </td>

                    <td ng-class="{'empty-column': makeRecipientsStringForView === '–'}">
                        <div class="truncate-wrapper">
                            <span class="truncate-wrapper-text"
                                  ncc-truncate="makeRecipientsStringForView(item, true)"
                                  ncc-truncate-tooltip="makeRecipientsStringForView(item)"></span>
                        </div>
                    </td>

                    <td ng-class="{'empty-column': makeOrgStringForView(item) === '–'}">
                        <div class="truncate-wrapper">
                            <span class="truncate-wrapper-text"
                                  ncc-truncate="makeOrgStringForView(item)"
                                  ncc-truncate-tooltip></span>
                        </div>
                    </td>

                    <td>
                        <span tooltip="{{item.created | date: 'MMM dd, yyyy, h:mm a'}}">
                            {{ item.created | date: 'MMM dd, yyyy' }}
                        </span>
                    </td>

                    <td class="share-exp-date"
                        ng-class="{'empty-column': makeExpireStringForView(item) === '–'}">
                        <span tooltip="{{ makeExpireStringForView(item).long  }}">
                            {{ makeExpireStringForView(item).short || makeExpireStringForView(item) }}
                        </span>
                    </td>

                    <td ng-class="{'empty-column': makeLastAccessStringForView(item) === '–'}">
                        <span tooltip="{{ makeLastAccessStringForView(item).long || makeLastAccessStringForView(item) }}">
                            {{ makeLastAccessStringForView(item).short || makeLastAccessStringForView(item) }}
                        </span>
                    </td>

                    <!-- Share actions-->
                    <td class="share-actions" prevent-click-event>
                        <div class="dropdown dropdown_arrowed">
                            <button class="btn btn_actions btn-default dropdown-toggle share-actions-dropdown"
                                    type="button"
                                    ng-class="{'btn_inactive': requestInProgress}"
                                    data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>

                            <div class="dropdown__wrapper">
                                <div class="dropdown__arrow"></div>

                                <ul class="dropdown-menu dropdown-menu_color
                                           dropdown-menu_spaced dropdown-menu_icons pull-right"
                                    role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem"
                                           ng-if="item.active"
                                           class="myshares-disable"
                                           tabindex="-1"
                                           ng-click="deactivateItem(item)"
                                           href=""><i class="glyphicon glyphicon-ban-circle"></i> Disable</a>
                                        <a role="menuitem"
                                           ng-if="!item.active"
                                           tabindex="-1"
                                           class="myshares-enable"
                                           ng-click="activateItem(item)"
                                           href=""><i class="glyphicon glyphicon-ok"></i> Enable</a>
                                    </li>
                                    <li role="presentation" ng-if="item.active && item.collaborations[0].expire !== null">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="myshares-extend"
                                           ng-class="{'disabled-item': !item.active}"
                                           ng-click="extendItem(item)"
                                           href=""><i class="glyphicon glyphicon-time"></i> Extend</a>
                                    </li>
                                    <li role="presentation" ng-if="item.active && item.category != 4">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="myshares-resend"
                                           ng-class="{'disabled-item': !item.active}"
                                           ng-click="resendNotifications(item.collaborations, item)"
                                           href=""><i class="glyphicon glyphicon-send"></i> Resend</a>
                                    </li>
                                    <li role="presentation" ng-if="item.active">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="myshares-edit-options"
                                           ng-class="{'disabled-item': !item.active}"
                                           ng-click="editItemOptions(item)"
                                           href=""><i class="glyphicon glyphicon-pencil"></i> Edit options</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </td>
                </tr>
                <tr class="nested-row nested-row_path" ng-show="item.isPathShowed">
                    <td></td>
                    <td colspan="7">
                        <div class="item-meta">
                            <ul class="list-inline list-inline_spaced list-inline_half-width">
                                <li>
                                    <div tooltip="File/Folder path">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <a ng-href="{{ item.url }}" class="truncate-wrapper-link">
                                            <div class="truncate-wrapper">
                                                <span class="truncate-wrapper-text"
                                                      ncc-truncate="item.path"
                                                      ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div tooltip="Sharer identity">
                                        <i class="glyphicon glyphicon-send"></i>
                                        <div class="truncate-wrapper">
                                            <span class="truncate-wrapper-text"
                                                  ncc-truncate="getIdentityString(item)"
                                                  ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="list-inline list-inline_second" ng-show="getMessageText(item)">
                                <li>
                                    <div tooltip="Share message">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        <div class="truncate-wrapper">
                                            <span class="truncate-wrapper-text"
                                                  ncc-truncate="getMessageText(item)"
                                                  ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <!--Collaborations row-->
                <tr ng-repeat-end
                    ng-show="item.isExpanded"
                    ng-repeat="collaboration in item.collaborations"
                    ng-init="item = item"
                    ng-class="{
                            'share-row-disabled': (!collaboration.active && activetab == 'active'),
                            'collaboration-expired': collaboration.expired
                            }"
                    class="nested-row row-expanded">
                    <td></td>
                    <td></td>
                    <td>
                        <div class="truncate-wrapper">
                            <span class="truncate-wrapper-text"
                                  ncc-truncate="collaboration.recipient[0]"
                                  ncc-truncate-tooltip="collaboration.recipient[1]"
                                  ncc-truncate-on="sharedWithMe:pathsReady"></span>
                        </div>
                    </td>
                    <td ng-class="{'empty-column': makeOrgStringForView(collaboration) === '–'}">
                        <span tooltip="{{makeOrgStringForView(collaboration)}}">{{makeOrgStringForView(collaboration)}}</span>
                    </td>
                    <td>
                        <span tooltip="{{collaboration.created | date: 'MMM dd, yyyy, h:m a'}}">
                            {{collaboration.created | date: 'MMM dd, yyyy'}}
                        </span>
                    </td>
                    <td ng-class="{'empty-column': makeExpireStringForView(collaboration) === '–'}">
                        <span tooltip="{{ makeExpireStringForView(collaboration).long }}">
                            {{ makeExpireStringForView(collaboration).short || makeExpireStringForView(item)}}
                        </span>
                    </td>

                    <td>
                        <span ng-show="item.category !==4"
                              tooltip="{{ makeLastAccessStringForView(collaboration).long || makeLastAccessStringForView(collaboration)}}">
                            {{ makeLastAccessStringForView(collaboration).short || makeLastAccessStringForView(collaboration)}}
                        </span>
                    </td>

                    <!-- Recipient actions -->
                    <td class="share-actions">
                        <div class="dropdown dropdown_arrowed">

                            <button class="share-actions-dropdown btn btn_actions-white btn-default dropdown-toggle"
                                    type="button"
                                    data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>

                            <div class="dropdown__wrapper">
                                <div class="dropdown__arrow"></div>
                                <ul class="dropdown-menu dropdown-menu_color
                                           dropdown-menu_spaced  dropdown-menu_icons pull-right"
                                    role="menu"
                                    aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem"
                                           class="myshares-coll-disable"
                                           ng-class="{'disabled-item': collaboration.expired}"
                                           ng-if="collaboration.active && !collaboration.expired"
                                           tabindex="-1"
                                           ng-click="deactivateCollaboration(collaboration)"
                                           href=""><i class="glyphicon glyphicon-ban-circle"></i> Disable</a>
                                        <a role="menuitem"
                                           ng-class="{'disabled-item': collaboration.expired}"
                                           ng-if="!collaboration.active || collaboration.expired"
                                           tabindex="-1"
                                           class="myshares-coll-enable"
                                           ng-click="activateCollaboration(collaboration, item)"
                                           href=""><i class="glyphicon glyphicon-ok"></i> Enable</a>
                                    </li>
                                    <li role="presentation">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="myshares-coll-extend"
                                           ng-class="{'disabled-item': !collaboration.active || collaboration.expired}"
                                           ng-click="extendCollaboration(collaboration, item)"
                                           href=""><i class="glyphicon glyphicon-time"></i> Extend</a>
                                    </li>
                                    <li role="presentation" ng-show="item.category != 4">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="myshares-coll-resend"
                                           ng-class="{'disabled-item': !collaboration.active || collaboration.expired}"
                                           ng-click="resendNotifications([collaboration])"
                                           href=""><i class="glyphicon glyphicon-send"></i> Resend</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <td colspan="8">

                        <div class="shares-on-page-selector">
                            <span>Show</span>

                            <div class="btn-group dropup">
                                <a type="button"
                                   class="btn btn-default dropdown-toggle"
                                   style="padding-top: 4px; padding-bottom: 4px;"
                                   data-toggle="dropdown">
                                    <span style="margin-right: 15px;">{{ itemsPerPage }} Rows</span>
                                    <span style="border-left: 1px solid #ddd; padding: 6px 4px 6px 15px;">
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu_color" role="menu">
                                    <li ng-repeat="itemsQuantityInDropdown in itemsPerPageChoices"
                                        ng-click="getItemsFromDropdown(itemsQuantityInDropdown, currentPageInPaginator)">
                                        <a href="">{{ itemsQuantityInDropdown }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="shares-pagination" ng-show="showPaginator">
                            <div x-pagination
                                 pagination-tooltips
                                 items-per-page="itemsPerPage"
                                 total-items="totalItems"
                                 ng-model="currentPage"
                                 page="currentPage"
                                 previous-text="&lsaquo;"
                                 boundary-links="true"
                                 max-size="5"
                                 next-text="&rsaquo;"
                                 first-text="&laquo;"
                                 last-text="&raquo;"
                                 ng-change="pageChanged()">
                            </div>
                        </div>

                    </td>
                </tr>
                </tfoot>

            </table>
        </div>

    </div>
</div>
