<div class="row">
    <div class="col-md-12">

        <ng-include src="'/static/ncc_collaborations/templates/partials/header-switcher.html'"></ng-include>

        <div class="shares-list-utils">

            <!--Bulk actions button-->
            <bulk-actions-dropdown
                    on-dropdown-open="checkAnySelectedItems()"
                    approve-action="batchApprove(items)"
                    decline-action="batchDecline(items)"
                    delete-action="batchDecline(items, true)"
                    class="share-bulk-actions"
                    items="items"
                    actions-for="requests"></bulk-actions-dropdown>


           <ng-include src="'/static/ncc_collaborations/templates/partials/filter_menu.html'">
           </ng-include>

            <ng-include src="'/static/ncc_collaborations/templates/partials/search-input.html'"></ng-include>
        </div>

        <div class="items-list">
            <table class="table table_manage-shares-list table_sortable table-hover">

                <colgroup>
                    <col class="checkbox-col"/>
                    <col class="title-col"/>
                    <col class="recipient-col"/>
                    <col class="org-col"/>
                    <col class="date-shared-col"/>
                    <col class="date-shared-col"/>
                    <col class="date-shared-col"/>
                    <col class="action-col"/>
                </colgroup>

                <thead>
                    <tr>
                        <th class="checkbox-column" disable-text-selection>
                            <span>
                                <input id="check-all-checkboxes" ng-model="utils.allItemsSelected" type="checkbox">
                            </span>
                        </th>
                        <th ng-class="{
                                'wrap_column' : header.wrap,
                                'table_sortable__column': header.sortable,
                                'table_sortable__column_sorted-asc': sortingDirectionOf(header) === 'asc',
                                'table_sortable__column_sorted-desc': sortingDirectionOf(header) === 'desc',
                                'table_sortable__column_sorted': sortingDirectionOf(header) === 'asc' ||
                                                                 sortingDirectionOf(header) === 'desc'
                            }"
                            ng-repeat="header in headers"
                            disable-text-selection
                            ng-click="(!header.sortable) || sortItems(header)">
                            <span tooltip="{{header.title}}">{{header.title}}</span> <span
                                class="table_sortable__caret"></span>
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr ng-show="items == 0" class="empty-list-row">
                        <td ng-if="isFilter" colspan="8" style="text-align: center">
                            <p>Sorry, no matches</p>
                        </td>
                        <td ng-if="!isFilter" colspan="8" style="text-align: center">
                            <p>You have no pending requests.</p>
                        </td>
                    </tr>

                    <tr ng-repeat-start="item in items" class="share-list-row" ng-class="{
                            'action-succeed': item.isActionSucceed,
                            'action-failed': item.isActionFailed
                        }"  ng-click="nameToPath(item)">

                        <td class="checkbox-column" disable-text-selection prevent-click-event>
                            <span>
                                <input id="share-checkbox-{{$index}}" ng-model="item.isSelected" type="checkbox">
                            </span>
                        </td>

                        <td class="obj-name">
                            <div class="truncate-wrapper">
                                <span class="truncate-wrapper-text text-primary"
                                      style="cursor: pointer"
                                      ng-click="openTsLink(item, $event)"
                                      ncc-truncate="item.name"
                                      ncc-truncate-tooltip></span>
                            </div>
                        </td>

                        <td>
                            <div class="truncate-wrapper">
                                <span class="truncate-wrapper-text"
                                      ncc-truncate="item.collaboration.recipient[0]"
                                      ncc-truncate-tooltip="item.collaboration.recipient[1]"></span>
                            </div>
                        </td>

                        <td ng-class="{'empty-column': item.organization === '-'}">
                            <div class="truncate-wrapper">
                                <span class="truncate-wrapper-text"
                                      ncc-truncate="item.organization"
                                      ncc-truncate-tooltip></span>
                            </div>
                        </td>

                        <td>
                            <span tooltip="{{ item.created | date: 'MMM dd, yyyy, h:m a'}}">
                                {{ item.created | date: 'MMM dd, yyyy'}}
                            </span>
                        </td>
                        <td>
                            <span tooltip="{{ item.extensionRequestedTooltip }}">
                                {{ item.extensionRequested }}
                            </span>
                        </td>
                        <td>
                            <span ng-if="item.collaboration.access_time" tooltip="{{ item.collaboration.access_time | date: 'MMM dd, yyyy, h:m a'}}">
                                {{item.collaboration.access_time | date: 'MMM dd, yyyy' }}
                            </span>
                            <span ng-if="!item.collaboration.access_time" tooltip="Never Accessed">Never Accessed</span>
                        </td>

                        <!-- Share actions-->
                        <td class="share-actions" prevent-click-event>
                            <div class="dropdown dropdown_arrowed">

                                <button class="btn btn_actions btn-default dropdown-toggle"
                                        type="button"
                                        ng-disabled="item.state != null"
                                        id="dropdownMenu1"
                                        ng-class="{'btn_inactive': requestInProgress}"
                                        data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>


                                <div class="dropdown__wrapper">

                                    <div class="dropdown__arrow"></div>

                                    <ul ng-if="!searchView" class="dropdown-menu dropdown-menu_color dropdown-menu_spaced dropdown-menu_icons pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem"
                                               tabindex="-1"
                                               class="requests-approve"
                                               ng-click="approveRequest(item)"
                                               href=""><i class="glyphicon glyphicon-time"></i> Approve</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem"
                                               tabindex="-1"
                                               class="requests-reject"
                                               ng-click="rejectRequest(item)"
                                               href=""><i class="glyphicon glyphicon-ban-circle"></i> Reject</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem"
                                               tabindex="-1"
                                               class="requests-delete"
                                               ng-click="rejectRequest(item, true)"
                                               href=""><i class="glyphicon glyphicon-trash"></i> Delete</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </td>
                    </tr>

                    <tr ng-repeat-end class="nested-row nested-row_path" ng-show="item.isPathShowed">
                        <td></td>
                        <td style="white-space: normal" colspan="6" class="nowrap">
                            <a ng-href="{{ item.url }}">
                                <div class="truncate-wrapper">
                                    <span class="truncate-wrapper-text text-primary"
                                          ncc-truncate="item.path"
                                          ncc-truncate-tooltip
                                          ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                </div>
                            </a>
                        </td>
                    </tr>

                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="8">

                            <div class="shares-on-page-selector">
                                <span>Show</span>

                                <div class="btn-group dropup">
                                    <a type="button"
                                       class="btn btn-default dropdown-toggle"
                                       style="padding-top: 4px; padding-bottom: 4px;"
                                       data-toggle="dropdown">
                                        <span style="margin-right: 15px;">{{ itemsPerPage }} Rows</span>
                                        <span style="border-left: 1px solid #ddd; padding: 6px 4px 6px 15px;">
                                            <span class="caret"></span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu_color" role="menu">
                                        <li ng-repeat="itemsQuantityInDropdown in itemsPerPageChoices"
                                            ng-click="getItemsFromDropdown(itemsQuantityInDropdown, currentPageInPaginator)">
                                            <a href="">{{ itemsQuantityInDropdown }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="shares-pagination" ng-show="showPaginator">
                                <div x-pagination
                                     pagination-tooltips
                                     items-per-page="itemsPerPage"
                                     total-items="totalItems"
                                     ng-model="currentPage"
                                     page="currentPage"
                                     previous-text="&lsaquo;"
                                     boundary-links="true"
                                     max-size="5"
                                     next-text="&rsaquo;"
                                     first-text="&laquo;"
                                     last-text="&raquo;"
                                     ng-change="pageChanged()">
                                </div>
                            </div>

                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>

    </div>
</div>