<!--Share filters for My Shares-->
<div class="share-status-filters" ng-if=" activetab === 'active' || activetab === 'disabled' || activetab === 'request_access'">
    <ul class="inline-links-bar">
        <li>
            <a href="#!/active"
               id="myShares-section_active"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'active'}">
                <span class="inline-links-bar__link-title">Active</span>
                <span class="inline-links-bar__link-meta" ng-if="svEnabledCount>=0">({{ svEnabledCount }})</span>
            </a>
        </li>
        |
        <li>
            <a href="#!/disabled"
               id="myShares-section_disabled"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'disabled'}">
                <span class="inline-links-bar__link-title">Disabled</span>
                <span class="inline-links-bar__link-meta" ng-if="svDisabledCount>=0">({{ svDisabledCount }})</span>
            </a>
        </li>
        |
        <li>
            <a href="#!/request_access"
               id="myShares-section_request_access"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'request_access'}">
                <span class="inline-links-bar__link-title">Requests</span>
                <span class="inline-links-bar__link-meta" ng-if="svAccessRequestsCount>=0">({{ svAccessRequestsCount }})</span>
            </a>
        </li>
    </ul>
</div>


<!--Share filters for Shared With Me-->
<div class="share-status-filters" ng-if="activetab === 'swm_active' || activetab === 'swm_disabled' || activetab === 'swm_requested'">
    <ul class="inline-links-bar">
        <li>
            <a href="#!/swm/active"
               id="sharedWithMe-section_active"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'swm_active'}">
                <span class="inline-links-bar__link-title">Active</span>
                <span class="inline-links-bar__link-meta" ng-if="swmEnabledCount >= 0">({{ swmEnabledCount }})</span>
            </a>
        </li>
        |
        <li>
            <a href="#!/swm/disabled"
               id="sharedWithMe-section_disabled"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'swm_disabled'}">
                <span class="inline-links-bar__link-title">Disabled</span>
                <span class="inline-links-bar__link-meta" ng-if="swmDisabledCount>=0">({{ swmDisabledCount }})</span>
            </a>
        </li>
        |
        <li>
            <a href="#!/swm/requested"
               id="sharedWithMe-section_requested"
               class="inline-links-bar__link"
               ng-class="{'inline-links-bar__link-active':  activetab === 'swm_requested'}">
                <span class="inline-links-bar__link-title">Requested</span>
                <span class="inline-links-bar__link-meta" ng-if="swmAccessRequestsCount>=0">({{ swmAccessRequestsCount }})</span>
            </a>
        </li>
    </ul>
</div>
