<div class="row" style="margin-bottom: 30px;">
    <div class="col-md-12" style="margin-top: 3px;">
        <ul class="inline-links-bar inline-links-bar_large-switcher">
            <li>
                <a id="sharedWithMe-section"
                   href="/collaborations/manage_collaborations/#!/swm/active"
                   class="inline-links-bar__link"
                   ng-class="{'inline-links-bar__link-active':  section === 'sharedWithMe'}">
                    <span class="inline-links-bar__link-title">Shared With Me</span>
                </a>
            </li>
            |
            <li>
                <a id="myShares-section"
                   href="/collaborations/manage_collaborations/#!/active"
                   class="inline-links-bar__link"
                   ng-class="{'inline-links-bar__link-active':  section === 'myShares'}">
                    <span class="inline-links-bar__link-title">My Shares</span>
                </a>
            </li>
        </ul>
    </div>
</div>
