<div class="row">
    <div class="col-md-12">

        <ng-include src="'/static/ncc_collaborations/templates/partials/header-switcher.html'"></ng-include>

        <div class="shares-list-utils">
            <bulk-actions-dropdown
                    on-dropdown-open="checkAnySelectedItems()"
                    request-extension-action="bulkRequestExtension(items)"
                    toggle-paths-action="togglePaths()"
                    toggle-paths-label="togglePathsLabel"
                    conditional-actions-flag="activetab"
                    items="items"
                    class="share-bulk-actions"
                    actions-for="swmActive"></bulk-actions-dropdown>

            <ng-include src="'/static/ncc_collaborations/templates/partials/filter_menu.html'"></ng-include>

            <ng-include src="'/static/ncc_collaborations/templates/partials/search-input.html'"></ng-include>

        </div>

        <div class="items-list">
            <table class="table table_manage-shares-list table-hover">

                <colgroup>
                    <col class="checkbox-col"/>
                    <col class="title-col"/>
                    <col class="recipient-col"/>
                    <col class="org-col"/>
                    <col class="date-shared-col"/>
                    <col class="date-exp-col"/>
                    <col class="date-acc-col"/>
                    <col class="action-col"/>
                </colgroup>

                <thead>
                <tr>
                    <th class="checkbox-column" disable-text-selection>
                        <span>
                            <input id="check-all-checkboxes" ng-model="utils.allItemsSelected"
                                   type="checkbox">
                        </span>
                    </th>
                    <th ng-class="{
                                'table_sortable__column': header.sortable,
                                'table_sortable__column_sorted-asc': sortingDirectionOf(header) === 'asc',
                                'table_sortable__column_sorted-desc': sortingDirectionOf(header) === 'desc',
                                'table_sortable__column_sorted': sortingDirectionOf(header) === 'asc' ||
                                                                 sortingDirectionOf(header) === 'desc',
                                'organization-column': header.slug === 'organization'
                            }"
                        ng-repeat="header in headers"
                        disable-text-selection
                        ng-click="(!header.sortable) || sortItems(header.slug)">
                        <span tooltip="{{ header.title }}">{{ header.title }}</span> <span
                            class="table_sortable__caret"></span>
                    </th>
                </tr>
                </thead>

                <tbody>

                <tr ng-show="emptySearchResults">
                    <td colspan="8" style="text-align: center">
                        <p>Sorry, no matches.</p>
                    </td>
                </tr>

                <tr ng-show="emptyView" class="empty-list-row">
                    <td ng-if="activetab === 'swm_active'" colspan="8" style="text-align: center">
                        <p>You have no active shares.</p>
                    </td>
                    <td ng-if="activetab === 'swm_disabled'" colspan="8" style="text-align: center">
                        <p>You have no disabled shares.</p>
                    </td>
                </tr>

                <tr ng-repeat-start="item in items" class="share-list-row"
                    ng-click="toggleRow(item)"
                    ng-class="{
                            'share-row-disabled': (!item.active && activetab == 'active') || requestInProgress,
                            'share-row-selected': item.isSelected,
                            'pulsing-color': item.isResending,
                            'resend-success': item.resendSuccessful,
                            'row-expanded': item.isExpanded,
                            'path-showed': item.isPathShowed,
                            'action-succeed': item.isActionSucceed,
                            'action-failed': item.isActionFailed,
                            'item-hidden': item.hide
                        }">

                    <td class="checkbox-column" disable-text-selection prevent-click-event>
                        <span>
                            <input id="share-checkbox-{{$index}}" ng-model="item.isSelected"
                                   type="checkbox">
                        </span>
                    </td>

                    <td class="obj-name">
                        <a ng-href="{{ item.share_url }}" target="_blank" class="truncate-wrapper-link">
                            <div class="truncate-wrapper truncate-wrapper_tooltip-swm">
                                <span class="truncate-wrapper-text"
                                      ncc-truncate="item.name"
                                      ncc-truncate-tooltip></span>
                            </div>
                        </a>
                    </td>

                    <td>
                        <div class="truncate-wrapper">
                            <span class="truncate-wrapper-text"
                                  ncc-truncate="item.identity.name"
                                  ncc-truncate-tooltip></span>
                        </div>
                    </td>

                    <td ng-class="{'empty-column': !item.identity.organization }">
                        <div ng-if="item.identity.organization" class="truncate-wrapper">
                            <span class="truncate-wrapper-text"
                                  ncc-truncate="item.identity.organization"
                                  ncc-truncate-tooltip></span>
                        </div>
                        <span ng-if="!item.identity.organization">–</span>
                    </td>

                    <td>
                        <span tooltip="{{item.created | date: 'MMM dd, yyyy, h:mm a'}}">
                            {{ item.created | date: 'MMM dd, yyyy' }}
                        </span>
                    </td>

                    <td class="share-exp-date"
                        ng-class="{'empty-column': makeExpireStringForView(item).short === '–'}">
                        <span tooltip="{{ makeExpireStringForView(item).long  }}">
                            {{ makeExpireStringForView(item).short || makeExpireStringForView(item) }}
                        </span>
                    </td>

                    <td ng-class="{'empty-column': makeLastAccessStringForView(item) === '–'}">
                        <span tooltip="{{ makeLastAccessStringForView(item).long || makeLastAccessStringForView(item) }}">
                            {{ makeLastAccessStringForView(item).short || makeLastAccessStringForView(item) }}
                        </span>
                    </td>

                    <!-- Share actions-->
                    <td class="share-actions" prevent-click-event>
                        <div class="dropdown dropdown_arrowed" ng-show="!item.email_unverified">
                            <button class="btn btn_actions btn-default dropdown-toggle share-actions-dropdown"
                                    type="button"
                                    ng-disabled="{{ !item.expire }}"
                                    ng-class="{'btn_inactive': requestInProgress}"
                                    data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span></button>

                            <div class="dropdown__wrapper">

                                <div class="dropdown__arrow"></div>

                                <ul class="dropdown-menu dropdown-menu_color
                                           dropdown-menu_spaced dropdown-menu_icons pull-right"
                                    role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           class="swm-request-extension"
                                           ng-click="requestExtension(item)"
                                           href=""><i class="fa fa-clock-o"></i> Request Extension</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </td>
                </tr>

                <tr class="nested-row nested-row_path" ng-show="item.isPathShowed" ng-repeat-end>
                    <td></td>
                    <td colspan="7">
                        <div class="item-meta">
                            <ul class="list-inline list-inline_spaced list-inline_half-width">
                                <li>
                                    <div tooltip="File/Folder name" ng-show="item.share_url">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <a ng-href="{{ item.share_url }}"
                                           class="truncate-wrapper-link"
                                           target="_blank">
                                            <div class="truncate-wrapper">
                                                <span class="truncate-wrapper-text"
                                                      ncc-truncate="item.name"
                                                      ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                            </div>
                                        </a>
                                    </div>
                                    <div tooltip="File/Folder name" ng-show="!item.share_url">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <div class="truncate-wrapper">
                                                <span class="truncate-wrapper-text"
                                                      ncc-truncate="item.name"
                                                      ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div tooltip="Recipient Identity">
                                        <i class="glyphicon glyphicon-send"></i>
                                        <div class="truncate-wrapper">
                                            <span class="truncate-wrapper-text"
                                                  ncc-truncate="item.friendly_name"
                                                  ncc-truncate-on="sharedWithMe:pathsReady"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                </tbody>

                <tfoot>
                <tr>
                    <td colspan="8">

                        <div class="shares-on-page-selector">
                            <span>Show</span>

                            <div class="btn-group dropup">
                                <a type="button"
                                   class="btn btn-default dropdown-toggle"
                                   style="padding-top: 4px; padding-bottom: 4px;"
                                   data-toggle="dropdown">
                                    <span style="margin-right: 15px;">{{ itemsPerPage }} Rows</span>
                                    <span style="border-left: 1px solid #ddd; padding: 6px 4px 6px 15px;">
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu_color" role="menu">
                                    <li ng-repeat="itemsQuantityInDropdown in itemsPerPageChoices"
                                        ng-click="getItemsFromDropdown(itemsQuantityInDropdown, currentPageInPaginator)">
                                        <a href="">{{ itemsQuantityInDropdown }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="shares-pagination" ng-show="showPaginator">
                            <div x-pagination
                                 pagination-tooltips
                                 items-per-page="itemsPerPage"
                                 total-items="totalItems"
                                 ng-model="currentPage"
                                 page="currentPage"
                                 previous-text="&lsaquo;"
                                 boundary-links="true"
                                 max-size="5"
                                 next-text="&rsaquo;"
                                 first-text="&laquo;"
                                 last-text="&raquo;"
                                 ng-change="pageChanged()">
                            </div>
                        </div>

                    </td>
                </tr>
                </tfoot>

            </table>
        </div>

    </div>
</div>