<div class="modal-header">
    <h4 class="modal-title">Approve Request Access</h4>
</div>

<div class="modal-body">
    <div>
        <p>Click below to specify an extension period.</p>
        <div>
            <select ng-model="days" ng-init="days=dates[0]"
                    ng-options="option as option.text for option in dates"></select>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()" style="background-color: #EBEBEB; border: 0;">Cancel</button>
    <button class="btn btn-primary" ng-click="approve(days)" style="background-color: #0060AC;border: 0;">Approve</button>
</div>